/* http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {}
body {
  /* background-color: #F00; /* Warning Guide. Use for debugging. */
  font-family: "Open Sans";
}

#pagewrap {
  background-color: white;
  width: 675pt; /* Actual wkhtmltopdf width, 1" margins 765 - 90pt */
  height: 926pt; /* Actual wkhtmltopdf height, 1" margins ??? - 90pt */
  padding: 90pt; /* 1" */
}

#sidebar {
  border-right: solid #EEE 4pt;
  margin-right: 20pt;
  padding-right: 20pt;
  height:100%;
  float: left;
  text-align: right;
}

#name {
  font-size: 22pt;
  font-weight: bold;
  color: #444;
}

#contacts {}
#contacts .contact {
  padding-top: 10pt;
}
#contacts .contact ul {}
#contacts .contact ul li {
  font-size: 16pt;
  line-height: 18pt;
}

#sections {}
#sections .section {
  padding-bottom: 10pt;
  padding-top: 10pt;
  border-top: 1pt dotted #444;
  margin-left: 230pt;
}
#sections .section:first-child {
  padding-top: 0pt;
  border-top: 0pt dotted #444;
}
#sections .section .title {
  font-size: 14pt;
  line-height: 24pt;
  font-weight: bold;
  color: #444;

}
#sections .section .header {
  font-style: italic;
  line-height: 24pt;
}
#sections .section .paragraph {
  line-height: 14pt;
}
#sections .section table {}
#sections .section table td {
  height: 16pt;
}
#sections .section table td.l {
  padding-right:20pt;
  width: 125pt;
  font-weight: bold;
  color: #444;
}
#sections .section table td.r {
  line-height: 14pt;
}
#sections .section table tr {}
#sections .section .timeline {}
#sections .section .timeline .time {}
#sections .section .timeline .time .key {
  font-style: italic;
  line-height: 24pt;
}
#sections .section .timeline .time .value {
  background-image:url("timeline.gif");
  background-repeat: no-repeat;
  background-position: 30pt;
  padding-left:40pt;
}
#github {
  line-height: 12pt;
  position:absolute;
  right: 145pt;
  text-align: right;
  top: 1037pt; /* 1061 - 12 * 2 */
  font-size:10pt;
  font-style:italic;
  color:#888;
}
#monster {
  background-image:url("monster.gif");
  background-size: 200pt 200pt;
  width: 200pt;
  height: 200pt;
  position:absolute;
  left: 45pt;
  top: 906pt; /* 1061pt; /* 926 + 45pt */
}
